/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  BASE
        Alignment
 *  BORDERED TABLE
        Table Bordered
        Table Outer Bordered
 *  STRIPED TABLE
 *  NUMERICAL
 *  RESPONSIVE TABLE
 *  ROW HOVER
*/

/**
 *  Credit goes to inuit.css by @csswizardry
 *  Responsive Table Credit goes to http://codepen.io/geoffyuen/pen/FCBEg
 */





/*------------------------------------*\
    !BASE
\*------------------------------------*/

table{
    width: 100%;
    font-size: 1rem;
}

th,
td{
    padding: $table-padding;
    text-align: left;
}

@media map(constants, mediaQueries, palm){
    th,
    td{
        padding: $table-padding-palm;
    }
}


/**
 * ^Alignment
 */
[colspan]{
    text-align: center;
}

[colspan='1']{
    text-align: left;
}

[rowspan]{
    vertical-align: middle;
}

[rowspan='1']{
    vertical-align: top;
}





/*------------------------------------*\
    !BORDERED TABLE
\*------------------------------------*/

/**
 * ^Table Bordered
 */
@if $table--bordered == true{
    .table--bordered th,
    .table--bordered td{
        border: $table-border-size solid $table-border-color;
    }
    .table--bordered th:empty,
    .table--bordered td:empty{
        border: 0;
    }
}


/**
 * ^Table Outer Bordered
 */
@if $table--outer-bordered == true{
    .table--outer-bordered{
        border: $table-border-size solid $table-border-color;
    }
}





/*------------------------------------*\
    !STRIPED TABLE
\*------------------------------------*/
@if $table--striped == true{
    .table--striped tbody tr:nth-of-type(odd){
        background-color: $table-stripe-background-color;
    }
}





/*------------------------------------*\
    !NUMERICAL
\*------------------------------------*/

@if $table--numerical == true{
    .table--numerical{
        text-align: right;
    }
}





/*------------------------------------*\
    !RESPONSIVE TABLE
\*------------------------------------*/

/**
 * ^Credit: http://codepen.io/geoffyuen/pen/FCBEg
 */

@if $table--responsive == true{
    .table--responsive th{
        display: none; /* for accessibility, use a visually hidden method here instead! Thanks, reddit! */
    }

    .table--responsive td{
        display: block;
    }

    .table--responsive td:before{
        display: inline-block;
        margin-right: 15px;
        font-weight: bold;
        content: attr(data-th) ': '; /* who knew you could do this? The internet, that's who. */
    }

    @media map(constants, mediaQueries, lapAndUp){
        .table--responsive td:before{
            display: none;
        }

        .table--responsive th,
        .table--responsive td{
            display: none;
        }
    }

    @media map(constants, mediaQueries, palm){
        .table--responsive td{
            margin-top: -1px;
        }

        .table--responsive th,
        .table--responsive td{
            text-align: left;
        }
    }
}





/*------------------------------------*\
    !ROW HOVER
\*------------------------------------*/

@if $table--row-hover == true {
    .table--row-hover tr {
        transition: background-color 0.1s ease-in-out;
    }

    .table--row-hover tr:hover{
        background-color: $table-row-hover-color !important;
        cursor: pointer;
    }

    .table--row-hover tr{
        display: block;
        padding: $table-padding;
        color: inherit;
        text-decoration: none;
    }

    @media map(constants, mediaQueries, palm){
        .table--row-hover tr{
            padding: $table-padding-palm;
        }
    }

    .table--row-hover tr:hover{
        color: inherit;
    }

    .table--row-hover thead tr:hover{
        background-color: inherit !important;
        cursor: default;
    }
}
